.alert {
    display: flex;
    gap: var(--space-3);
    padding: 0.75rem 0.875rem;
    border: var(--border) solid transparent;
    border-radius: 0.375rem;
}

.alert-info {
    background: var(--color-info);
    border-color: var(--color-alert-info-border);
    color: var(--color-info-content);
}

.alert-success {
    background: var(--color-success);
    border-color: var(--color-alert-success-border);
    color: var(--color-success-content);
}

.alert-warning {
    background: var(--color-warning);
    border-color: var(--color-alert-warning-border);
    color: var(--color-warning-content);
}

.alert-error {
    background: var(--color-error);
    border-color: var(--color-alert-error-border);
    color: var(--color-error-content);
}
